#navbar {
  background: black;
  padding: 0.5em 1em;
  position: sticky;
  top: 0;
  z-index: 1;
}

#navbar .nav-items {
  display: flex;
  justify-content: start;

}

.inactive {
  color: white;
  text-decoration: none;
  margin-right: 1.5em;
}

.inactive:hover {
  color: white;
  text-decoration: none;
}

.active {
  color: yellow;
  text-decoration: none;
}

.active:hover {
  color: yellow;
  text-decoration: none;
}